{{#d-modal-body class="next-session-time-modal" title=title}}
  {{date-time-input
    date=bufferedDateTime
    onChange=(action "dateTimeChanged")
    showTime=true
    clearable=true
  }}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    action="submit"
    class="btn-primary"
    label="admin.wizard.after_time_modal.done"
    disabled=submitDisabled}}
</div>
