<div class='row'>
  <div class='content-list span6'>
    <ul>
      {{#each model as |s|}}
        <li>
          {{#link-to "adminWizardSubmissions" s.id}}{{s.name}}{{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="span13">
    {{outlet}}
  </div>
</div>
