<div class="admin-wizard-select">
  {{combo-box
    value=wizardId
    content=wizardList
    onChange=(route-action 'changeWizard')
    options=(hash
      none='admin.wizard.select'
    )}}
</div>

<div class="admin-wizard-container">
  {{outlet}}
</div>
