<table>
  {{#each model.submissions as |s|}}
    <tr>
      {{#each-in s as |k v|}}
        <th>{{k}}</th>
      {{/each-in}}
    </tr>
    <tr>
      {{#each-in s as |k v|}}
        <td>{{v}}</td>
      {{/each-in}}
    </tr>
  {{/each}}
</table>
