<div class="admin-wizard-controls">
  {{combo-box
    value=wizardListVal
    content=wizardList
    onChange=(route-action 'changeWizard')
    options=(hash
      none='admin.wizard.select'
    )}}
  
  {{d-button
    action="createWizard"
    label="admin.wizard.create"
    icon="plus"}}
</div>

{{wizard-message
  key=messageKey
  url=messageUrl
  component='wizard'}}

<div class="admin-wizard-container settings">
  {{outlet}}
</div>