{{#admin-nav}}
  {{nav-item route='adminWizardsCustom' label='admin.wizard.custom_label'}}
  {{nav-item route='adminWizardsSubmissions' label='admin.wizard.submissions_label'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
