<div class='row'>
  <div class='content-list wizard-list'>
    <ul>
      {{#each model as |w|}}
        <li>
          {{#link-to "adminWizard" (dasherize w.id)}}{{w.name}}{{/link-to}}
        </li>
      {{/each}}
    </ul>
    <div class="new-wizard">
      {{#link-to 'adminWizard' 'new' class="btn"}}
        {{d-icon "plus"}} {{i18n 'admin.wizard.new'}}
      {{/link-to}}
    </div>
  </div>

  <div class="content">
    {{outlet}}
  </div>
</div>
