<div class="wizard-submissions">
  <table>
    <tr>
      {{#each fields as |f|}}
        <th>{{f}}</th>
      {{/each}}
    </tr>
    {{#each submissions as |s|}}
      <tr>
        {{#each-in s as |k v|}}
          <td>{{v}}</td>
        {{/each-in}}
      </tr>
    {{/each}}
  </table>
</div>
