<div>{{text}}</div>
<div class="no-access-gutter">
  <a class="return-to-site" {{action "skip"}}>
    {{i18n "wizard.return_to_site" siteName=siteName}}
  </a>
  {{#if showLoginButton}}
    <DButton
      class="btn-primary btn-small login-button"
      @action={{action "showLogin"}}
      @label="log_in"
      @icon="user"
    />
  {{/if}}
</div>