{{#if hasMultiple}}
  {{combo-box
    value=connector
    content=connectors
    onChange=(action (mut connector))
    onOpen=(action "onOpen")}}
{{else}}
  <span class="connector-single">
    {{connectorLabel}}
  </span>
{{/if}}