{{#each inputs as |input|}}
  {{#if input.connector}}
    {{wizard-mapper-connector connector=input.connector}}
  {{/if}}
  
  {{wizard-mapper-input 
    input=input
    options=inputOptions
    remove=(action 'remove')}}
{{/each}}

{{#if canAdd}}
  <span class="add-mapper-input">
    {{d-button action='add' label='admin.wizard.add' icon='plus'}}
  </span>
{{/if}}