{{#if hasMultiple}}
  {{combo-box
    value=connector
    content=connectors
    onChange=(action "changeConnector")}}
{{else}}
  {{#if connector}}
    <span class="connector-single">
      {{connectorLabel}}
    </span>
  {{/if}}
{{/if}}