{{#each inputs as |input|}}
  {{wizard-custom-input 
    input=input
    userFields=userFields
    wizardFields=wizardFields
    keyPlaceholder=keyPlaceholder
    valuePlaceholder=valuePlaceholder
    connectorKey=connectorKey
    outputConnectorKey=outputConnectorKey
    options=options
    remove=(action 'remove')}}
{{/each}}

<div class="add-custom-input">
  {{d-button action='add' label='admin.wizard.add' icon='plus'}}
</div>