{{#each inputs as |input|}}
  {{wizard-custom-input input=input
                        valueContent=valueContent
                        keyContent=keyContent
                        connectorContent=connectorContent
                        connectorKey=connectorKey
                        noneValue=noneValue
                        valuePlaceholder=valuePlaceholder
                        allowCustomField=allowCustomField
                        allowUserField=allowUserField
                        remove=(action 'remove')}}
{{/each}}
<div class="add-custom-input">
  {{d-button action='add' label='admin.wizard.add' icon='plus'}}
</div>
