body.custom-wizard {
  .similar-topics-validator {
    position: relative;
    display: flex;

    label {
      min-height: 20px;
    }
  }

  .wizard-similar-topics {
    margin-left: 3px;

    ul {
      background-color: var(--tertiary-low);
      padding: 5px;
      margin: 0;
      list-style: none;
      position: absolute;
      left: 0;
      top: 25px;
      box-shadow: shadow("dropdown");
      width: 100%;
      box-sizing: border-box;
      z-index: 100;

      .title {
        color: var(--primary);
      }

      .blurb {
        margin-left: 0.5em;
        color: var(--primary-high);
        font-size: $font-down-1;
      }
    }

    .show-topics {
      cursor: pointer;
    }
  }
}
