<div class="select-kit-header-wrapper">

  {{component selectKit.options.selectedNameComponent
    tabindex=tabindex
    item=selectedContent
    selectKit=selectKit
    shouldDisplayClearableButton=shouldDisplayClearableButton
  }}

  {{#if selectedContent.pro}}
    <span class="pro-label">{{i18n "admin.wizard.pro.label"}}</span>
  {{/if}}

  {{d-icon caretIcon class="caret-icon"}}
</div>
