@import 'wizard_variables';

.no-access-gutter {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.custom-wizard {
  background-color: initial;
  font-size: 1.1em;

  .wizard-step-contents {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: initial;
    height: initial;
    margin-bottom: 10px;
  }

  img.emoji {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

  .wizard-step-title {
    flex: 0;
    
    p {
      margin: 0.5em 0;
    }
  }

  .wizard-step-description {
    flex: 0;
    margin-bottom: 0;

    p {
      line-height: 1.7;

      img {
        @extend img.emoji;
      }
    }

    i {
      margin-right: 7px;
    }

    ul li {
      margin: 10px 0;
    }

    .image-container {
      padding: 0 20px;
      margin: 50px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      a {
        cursor: pointer;
      }

      span {
        display: block;
        text-align: center;
        max-width: 140px;
        color: #333;
      }

      &.group {
        padding: 0;
        margin: 0;
        width: 130px;
        height: 130px;
      }
    }

    img.large {
      width: 150;
      padding: 25px;;
    }

    img.small {
      width: 100;
      padding: 15px;
    }

    img.x-small {
      width: 50px;
      height: 50px;
      padding: 3px;
    }

    label {
      display: block;
      text-align: center;
    }

    .inline-list > * {
      display: inline-block;
    }
  }

  .wizard-step-banner {
    width: initial;
    margin-bottom: 1em;

    img {
      max-height: 300px;
    }
  }

  .wizard-step-form {
    flex: auto;
    display: flex;
    flex-direction: column;
    max-height: initial;
    width: 100%;
  }

  .wizard-field {
    margin-bottom: 1em;
    
    &.tip {
      margin-top: auto;
    }

    label {
      display: flex;
      flex-flow: wrap;
      align-items: center;

      .label-value {
        width: 100%;

        p {
          margin: 0;
        }
      }

      .field-image {
        margin-right: 10px;

        img {
          width: 30px;
          height: 30px;
        }
      }

      .field-description {
        flex: 1;
        color: #333;
        margin-top: 0;

        p {
          margin: 0;
          line-height: 1.3em;
        }

        img {
          height: 15px;
          width: 15px;
          margin: 0 5px;
        }
      }
    }
  }

  .checkbox-field {
    display: flex;
    align-items: center;

    &> .input-area {
      order: 0;
      margin: 15px 20px !important;

      input {
        cursor: pointer;
        transform: scale(1.3);
      }
    }

    &> label {
      order: 1;
    }

    &> .field-description {
      margin-top: 0;
      order: 2;
    }
  }

  .control-group {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 20px;

    .controls {
      margin: 5px 0;
    }

    input {
      width: 200px;
      line-height: 24px;
    }

    input[disabled] {
      background-color: #e9e9e9;
      border: #e9e9e9;
    }

    ul {
      padding: 0;
    }

    .select-kit {
      min-width: 200px;
    }
  }

  .wizard-step-form .wizard-btn {
    display: block;
    margin: 20px 0;
  }

  .wizard-image-row .wizard-btn-upload {
    margin: 0;
  }

  .wizard-field-upload {
    .wizard-btn-upload-file {
      display: inline-block;
      position: relative;
      cursor: pointer;

      input {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }

    .filename {
      margin-left: 10px;
    }
  }

  .wizard-column {
    .wizard-field .input-area {
      margin: 0.5em 0;
    }

    .wizard-column-contents h1 {
      margin: 0
    }
  }

  .combo-box {
    ul {
      padding: 0;
    }

    p {
      margin: 0;
    }
  }

  .wizard-buttons > a, .wizard-buttons > button, .spinner {
    display: inline-block;
    vertical-align: middle;
  }

  .spinner.small {
    margin-right: 10px;
  }
}

.step-message {
  text-align: center;
  transition: all .2s;
  z-index: 2;
  padding: 20px;

  &.success {
    background-color: #009900;
    color: #ffffff;
  }

  &.error {
    background-color: #e45735;
    color: #ffffff;
  }

  &.not-permitted {
    background-color: #e45735;
    color: #ffffff;
  }
  
  .text {
    display: inline-block;
  }
  
  .reset-wizard {
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
  }
}

.p-list-box {
  max-width: 550px;
  position: relative;
  margin: 10px 0;

  .spinner {
    position: absolute;
    right: 50%;
    top: 50%;
  }

  .p-text {
    margin-bottom: 5px;
  }

  ul {
    border: 1px solid #e9e9e9;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 200px;
    overflow: scroll;
  }

  li {
    padding: 6px 12px;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;

    &:hover, &.selected {
      background-color: #eee;
    }

    label {
      flex: 1 1 auto;
      cursor: pointer;
    }

    i {
      margin-right: 5px;
    }
  }

  .no-results {
    padding: 15px;
  }

  .default {
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    text-align: center;
    color: #919191;
  }
}

.spinner {
  margin: 20px auto 20px auto;
  position: relative;
  -webkit-animation: rotate-forever 1s infinite linear;
  animation: rotate-forever 1s infinite linear;
  height: 30px;
  width: 30px;
  border: 4px solid #ccc;
  border-right-color: transparent;
  border-radius: 50%;

  &.small {
    width: 10px;
    height: 10px;
    margin: 0;
    display: inline-block;
  }
}

.user-selector-field.wizard-field {
  div.ac-wrap div.item a.remove, .remove-link {
    margin-left: 4px;
    font-size: 11px;
    line-height: 10px;
    padding: 1.5px 1.5px 1.5px 2.5px;
    border-radius: 12px;
    width: 10px;
    display: inline-block;
    border: 1px solid #e9e9e9;

    &:hover {
      background-color: #f2ab9a;
      border: 1px solid #ec8972;
      text-decoration: none;
      color: #e45735;
    }
  }

  div.ac-wrap {
    width: 98.5% !important;
    overflow: auto;
    max-height: 150px;
    background-color: white;
    border: 1px solid #e9e9e9;
    padding: 5px 4px 1px 4px;

    div.item {
      float: left;
      margin-bottom: 4px;
      margin-right: 10px;

      span {
        height: 24px;
        display: inline-block;
        line-height: 20px;
      }
    }

    .ac-collapsed-button {
      float: left;
      border-radius: 20px;
      position: relative;
      top: -2px;
      margin-right: 10px;
    }

    input[type="text"] {
      float: left;
      margin-bottom: 4px;
      height: 24px;
      display: block;
      border: 0;
      padding: 0;
      box-shadow: none;
    }
  }
}

img.avatar {
  border-radius: 50%;
  vertical-align: middle;
}

.autocomplete {
  z-index: 999999;
  position: absolute;
  width: 240px;
  background-color: white;
  border: 1px solid #e9e9e9;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      .d-users {
        color: #333;
        padding: 0 2px;
      }

      border-bottom: 1px solid #e9e9e9;

      a {
        padding: 5px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        text-decoration: none;

        img {
          margin-right: 5px;
        }

        span.username {
          color: #000;
          vertical-align: middle;
        }

        span.name {
          font-size: 11px;
          vertical-align: middle;
        }

        &.selected {
          background-color: #d1f0ff;
        }

        &:hover {
          background-color: #ffffa6;
          text-decoration: none;
        }
      }
    }
  }
}

.wizard-field {
  &.invalid{
    textarea, input[type=text], input[type=checkbox], .select-kit {
      padding: 3px;
      border: 4px solid red;
    }
  }
}

@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.p-text {
  &.bronze {
    color: #cd7f32;
  }

  &.silver {
    color: #c0c0c0;
  }

  &.gold {
    color: rgb(231, 195, 0);
  }
}

.ac-wrap {
  box-sizing: border-box;
  position: relative;
  width: auto !important;

  .ac-loading {
    position: absolute;
    top: 7px;
    right: 5px;
  }

  .item {
    line-height: 1.6;
  }

  .autocomplete {
    width: inherit;
    left: 0 !important;
    width: 100%;
    top: 30px !important;
    box-sizing: border-box;

    li, .no-results {
      padding: 10px;
    }

    ul > label {
      color: #919191;
      margin: 5px 0;
      padding: 0 5px;
      font-size: 80%;
      line-height: 1.4em;

      a {
        text-decoration: underline;
      }
    }
  }
}

.ac-form-result {
  cursor: pointer;
  background-color: $secondary;
  display: flex;

  &:hover, &.selected {
    background-color: $tertiary;
    color: white;

    label {
      color: white;
    }
  }

  label {
    flex: 1 1 auto;
    margin-bottom: 0;
    cursor: pointer;
  }

  i {
    margin-right: 5px;
  }
}

/* Location Specific Styles */

.location-selector-container {
  width: 350px;
}

.location-form {
  display: flex;

  .title {
    font-weight: 700;
  }

  .address {
    padding-right: 20px;
  }

  .coordinates {
    .control-group {
      display: block;

      .controls {
        display: flex;
        width: 100%;

        input {
          width: 100px;
        }
      }

      .icon {
        margin-left: 10px;
        display: inline-block;
      }
    }

    .icon img {
      max-width: 30px;
    }
  }

  .address + .coordinates {
    border-left: 1px solid #eee;
    padding-left: 20px;
  }
}

.location-form-instructions {
  color: #919191;
  margin: 5px 0;
  font-size: 80%;
  line-height: 1.4em;

  a {
    text-decoration: underline;
  }
}

.location-form, .add-location {
  overflow: visible;

  .control-group {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 10px;

    .instructions {
      @extend .location-form-instructions;
    }
  }

  .location-search {
    display: block;
    margin: 15px 0;
  }

  .geo-map {
    height: 400px;
  }
}

.add-location + .modal-footer .clear {
  margin: 5px 10px;
}

input.input-location, div.input-location {
  max-height: 150px;
  background-color: $secondary;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
}

/* IE11 hacks */
@media all and (-ms-high-contrast:none)
{
  .custom-wizard {
    div.wizard-step-contents {
      display: block;
    }

    div.wizard-progress {
      visibility: hidden;
    }
  }
}

// Badges

@import 'wizard_variables';

.badge-wrapper {
  font-size: $font-down-1;
  font-weight: bold;
  white-space: nowrap;
  position: relative;
  display: inline-flex;
  align-items: baseline;

  .badge-category {
    display: inline-flex;
    align-items: baseline;
    .category-name {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .d-icon {
      margin-right: 3px;
      width: 0.74em;
      height: 0.74em;
      color: inherit;
    }
  }

  &.bullet {
    margin-right: 12px;
    span.badge-category {
      color: $primary-high;
      overflow: hidden;
      text-overflow: ellipsis;
      .extra-info-wrapper & {
        color: $header-primary;
      }
    }
    .badge-category-parent-bg,
    .badge-category-bg {
      flex: 0 0 auto;
      width: 9px;
      height: 9px;
      margin-right: 5px;
      display: inline-block;
    }
    .badge-category-parent-bg {
      width: 5px;
      margin-right: 0;
      + .badge-category-bg {
        width: 5px;
      }
    }
    .d-icon {
      color: $primary-medium;
    }
  }

  &.box {
    margin-right: 5px;
    padding: 2px 4px 2px 4px;
    display: inline-flex;
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      &.badge-category-bg,
      &.badge-category-parent-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &.badge-category-parent-bg {
        width: calc(100% - 5px);
        & + .badge-category-bg {
          left: 5px;
          width: calc(100% - 5px);
          & + .badge-category {
            margin-left: 5px;
          }
        }
      }

      &.badge-category {
        position: relative;
      }
    }
    + .topic-header-extra {
      padding: 2px 4px 2px 4px;
    }
  }

  &.bar {
    margin-right: 5px;

    span.badge-category {
      color: $primary-high;
      padding: 1px 3px;
      overflow: hidden;
      text-overflow: ellipsis;

      .extra-info-wrapper & {
        color: $header-primary;
      }
    }

    .badge-category-parent-bg,
    .badge-category-bg {
      display: inline-block;
      padding: 0 1px;

      &:before {
        content: "\a0";
      }
    }
  }

  &.none {
    color: $primary-high;
    margin-right: 5px;
  }
}

.list-controls {
  .category-breadcrumb {
    a.badge-category {
      display: inline-block;
      padding: 6px 8px;
      line-height: $line-height-medium;
    }
  }
}
