.custom-wizard {
  background-color: initial;

  .wizard-step-description {
    line-height: 1.7;
  }

  .wizard-column .wizard-step-banner {
    width: initial;
    max-width: 660px;
  }

  .control-group {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;

    .controls {
      margin: 5px 0;
    }

    input {
      width: 200px;
      line-height: 24px;
    }
  }

  .wizard-step-form .wizard-btn {
    display: block;
    margin: 10px 0;
  }

  .wizard-column .wizard-field .input-area {
    margin: 0.5em 0;
  }
}

.p-list-box {
  max-width: 550px;
  position: relative;
  margin: 10px 0;

  .spinner {
    position: absolute;
    right: 50%;
    top: 50%;
  }

  .p-text {
    margin-bottom: 5px;
  }

  ul {
    border: 1px solid #e9e9e9;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 95px;
    overflow: scroll;
  }

  li {
    padding: 6px 12px;
    cursor: pointer;
    background-color: #fff;

    &:hover, &.selected {
      background-color: #eee;
    }

    i {
      margin-right: 5px;
    }
  }

  .no-results {
    padding: 15px;
  }

  .default {
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    text-align: center;
    color: #919191;
  }
}
