.custom-wizard {
  background-color: initial;
}

.custom-wizard .wizard-step-description {
  line-height: 1.7;
}

.custom-wizard .wizard-column .wizard-step-banner {
  width: initial;
  max-width: 660px;
}
