.admin-wizards-api {
  margin-bottom: 40px;

  .content-list {
    margin-right: 20px;
  }

  .new-api {
    margin-top: 20px;
  }

  .metadata .title input {
    width: 400px;
  }

  .buttons {
    text-align: right;
    vertical-align: middle;

    > .d-icon, > .spinner {
      margin-right: 7px;
    }

    .error {
      margin-top: 10px;
      color: var(--danger);
    }
  }
}

.wizard-api-header {
  margin-top: 20px;
  
  &.page {
    margin-bottom: 20px;
  }

  .buttons {
    float: right;
  }

  .wizard-header {
    overflow: hidden;
    font-size: 1.3em;
  }
}

.wizard-api-authentication {
  display: flex;
  background-color: $primary-very-low;
  padding: 20px;
  margin-bottom: 20px;

  .settings {
    width: 50%;
    max-width: 50%;
  }

  .redirect-uri .controls {
    word-break: break-all;
  }

  .auth-type .select-kit {
    min-width: 210px;
    width: 210px;
    margin-bottom: 10px;
  }

  .status {
    border-left: 1px solid $primary;
    margin-left: 20px;
    padding-left: 20px;
    width: 50%;
    max-width: 50%;

    .wizard-header {
      overflow: hidden;
    }

    .authorization {
      float: right;
    }

    .control-group {
      margin-bottom: 15px;
    }
  }
}

.wizard-api-endpoints {
  background-color: $primary-very-low;
  padding: 20px;
  margin-bottom: 20px;

  .endpoint-list {
    margin-top: 20px;

    ul {
      margin: 0;
      list-style: none;
    }
  }

  .endpoint {
    margin-top: 20px;
    
    .top, .bottom {
      display: flex;
    }
    
    .top {
      margin-bottom: 15px;
    }
    
    .combo-box {
      margin-right: 10px;
      width: 210px;
    }

    input {
      margin: 0;
      margin-right: 10px;
    }

    .endpoint-url {
      flex: 1 1 auto;
    }

    .remove-endpoint {
      margin-left: auto;
    }
  }
}

.wizard-api-log {
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
}

.wizard-step-contents{
  height: unset !important;
}