.wizard-list {
  float: left;
  width: 250px;
}

.new-wizard {
  margin-top: 15px;
}

.wizard-header {
  font-size: 1.4em;
  margin-bottom: 15px;

  &.medium {
    font-size: 1.2em;
  }

  &.small {
    font-size: 1em;
    margin-bottom: 5px;
  }

  &.underline {
    text-decoration: underline;
  }
}

.content-list + .content {
  overflow: hidden;
}

.admin-wizard.settings {
  margin-left: 30px;
  margin-right: 30px;

  .setting {
    display: inline-block;
    vertical-align: top;
    width: 49%;

    .setting-label {
      width: 20%;
    }

    .setting-value {
      label {
        font-size: 0.85em;
      }

      span {
        font-size: 0.929em;
      }

      button {
        margin-top: 5px;
        display: block;
      }

      .d-editor {
        width: 100%;

        .d-editor-input {
          height: 100px;
        }

        button {
          margin: 0;
        }
      }
    }

    &.full {
      width: 100%;

      .setting-label {
        width: 10%;
      }

      .setting-value {
        width: initial;
        float: none;
        display: flex;
        
        &.editor {
          flex-flow: wrap;
          
          .d-editor {
            margin-bottom: 5px;
          }
        }

        .custom-input .remove {
          margin-left: 10px;
          margin-top: 0;
        }
      }
    }

    label {
      margin: 5px 0;
    }

    .setting-gutter {
      margin-top: 5px;
    }
  }

  .select-box-kit-header {
    height: initial;
  }

  .buttons .error {
    color: $danger;

    .fa {
      margin-right: 5px;
    }
  }

  .buttons .remove {
    float: right;
  }

  .custom-category {
    margin-top: 5px;
    padding: 5px;
  }

  .api-body {
    width: 100%;

    .setting-label {
      max-width: 70px;
    }

    .setting-value {
      width: calc(100% - 180px);
    }

    textarea {
      width: 100%;
      min-height: 150px;
    }
  }
}

.wizard-links {
  margin-bottom: 20px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;

    li {
      display: inline-block;
      margin-bottom: 7px;
      margin-right: 7px;
    }
  }

  .sortable-placeholder {
    height: 30px;
    width: 100px;
    display: inline-block;
    vertical-align: top;
    background-color: $primary-low;
    margin-right: 10px;
    margin-left: 3px;
  }
}

.wizard-column-contents {
  position: relative;
}

.wizard-custom-step {
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px;
  background-color: dark-light-diff($primary, $secondary, 96%, -65%);
}

.wizard-dropdown-choices {
  padding: 15px;
  margin-bottom: 20px;
  background-color: $secondary;

  .wizard-header:not(.underline) {
    margin-top: 15px;
  }
}

.custom-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .d-icon {
    margin: 0 auto;
    text-align: center;
  }

  input {
    margin: 0;
  }

  input[disabled] {
    background-color: $primary-low;
    border-color: #ddd;
  }

  .select-kit {
    width: 232px !important;
  }

  .remove {
    margin: 0 auto;
    align-self: flex-start;
  }

  .connector {
    margin: 0 10px;
  }
}

.required-data .setting-value {
  flex-flow: wrap;

  .custom-inputs {
    margin-bottom: 20px;
  }

  .required-data-message .label {
    margin-bottom: 5px;
  }
}

.setting .add-custom-input {
  margin-top: 5px;
}

.admin-contents .wizard-submissions {
  width: 100%;
  display: inline-block;
  
  table {
    margin-top: 0;
    position: absolute;
  }
}

.wizard-field-composer textarea {
  width: 100%;
  min-height: 150px;
}

.next-session-time-modal {
  text-align: center;

  .date-time-card {
    width: 270px;
    padding: 10px 20px;
    text-align: left;
  }

  .modal-date-time-set{
    padding-top: 3px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: row;

    .modal-date-area{
      order: 1;
    }

    .modal-time-area{
      order: 2;
      margin-left: 10px;

      .modal-time{
        width: 127px;
      }
    }
  }

  .ui-timepicker-input {
    width: 119px;
    text-align: center;
  }

  .date-picker{
     width: 121px;
  }

  .pika-single {
    position: relative !important;

    .pika-lendar {
      border: 1px solid #eee;
      padding: 14px;
      margin: 0;
      float: none;
      width: auto;
    }
  }
}

.post-builder-editor {
  min-height: 220px;
}

.text-divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 5px 0;

  > span {
    position: relative;
    display: inline-block;
  }

  > span:before,
  > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: $tertiary;
  }

  > span:before {
    right: 100%;
    margin-right: 15px;
  }

  > span:after {
    left: 100%;
    margin-left: 15px;
  }
}

.wizard-step-contents {
  height: unset !important;
}

.admin-wizards-api {
  margin-bottom: 40px;

  .content-list {
    margin-right: 20px;
  }

  .new-api {
    margin-top: 20px;
  }

  .metadata .title input {
    width: 400px;
  }

  .buttons {
    text-align: right;
    vertical-align: middle;

    > .d-icon, > .spinner {
      margin-right: 7px;
    }

    .error {
      margin-top: 10px;
      color: $danger;
    }
  }
}

.wizard-api-header {
  &.page {
    margin-bottom: 20px;
  }

  .buttons {
    float: right;
  }

  .wizard-header {
    overflow: hidden;
  }
}

.wizard-api-authentication {
  display: flex;
  background-color: $primary-very-low;
  padding: 20px;
  margin-bottom: 20px;

  .settings {
    width: 50%;
    max-width: 50%;
  }

  .redirect-uri .controls {
    word-break: break-all;
  }

  .auth-type .select-kit {
    min-width: 210px;
    width: 210px;
    margin-bottom: 10px;
  }

  .status {
    border-left: 1px solid $primary;
    margin-left: 20px;
    padding-left: 20px;
    width: 50%;
    max-width: 50%;

    .wizard-header {
      overflow: hidden;
    }

    .authorization {
      float: right;
    }

    .control-group {
      margin-bottom: 15px;
    }
  }
}

.wizard-api-endpoints {
  background-color: $primary-very-low;
  padding: 20px;
  margin-bottom: 20px;

  .endpoint-list {
    margin-top: 20px;

    ul {
      margin: 0;
      list-style: none;
    }
  }

  .endpoint {
    margin-top: 20px;
    
    .top, .bottom {
      display: flex;
    }
    
    .top {
      margin-bottom: 15px;
    }
    
    .combo-box {
      margin-right: 10px;
      width: 210px;
    }

    input {
      margin: 0;
      margin-right: 10px;
    }

    .endpoint-url {
      flex: 1 1 auto;
    }

    .remove-endpoint {
      margin-left: auto;
    }
  }
}

.wizard-api-log {
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
}

.wizard-step-contents{
  height: unset !important;
}

// Tansfer tab

.admin-wizards-transfer .admin-container .container {
  padding-top: 20px;
}

#file-url {
  display: block;
  margin-bottom: 10px;
}

.wizard-list-select {
  list-style-type: none;
}

.wizard-action-buttons {
  flex-direction: column;
}

.import-message {
  margin: 10px 0;
}

.import-logs {
  margin-top: 20px;
  
  .title {
    font-weight: 800;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
  }
}

