.wizards-nav-button {
  @extend .nav-pills;
  float: left;
}

.wizard-list {
  float: left;
  width: 250px;
}

.new-wizard {
  margin-top: 15px;
}

.wizard-header {
  font-size: 1.4em;
  margin-bottom: 15px;

  &.medium {
    font-size: 1.2em;
  }

  &.small {
    font-size: 1em;
    text-decoration: underline;
    margin-bottom: 5px;
  }
}

.content-list + .content {
  overflow: hidden;
}

.admin-wizard.settings {
  margin-left: 30px;
  margin-right: 30px;

  .setting {
    display: inline-block;
    vertical-align: top;
    width: 49%;

    .setting-label {
      width: 90px;
    }

    .setting-value {
      label {
        font-size: 0.85em;
      }

      span {
        font-size: 0.929em;
      }
    }

    &.full {
      width: 100%;
    }

    label {
      margin: 5px 0;
    }
  }

  .buttons .error {
    color: $danger;

    .fa {
      margin-right: 5px;
    }
  }

  .buttons .remove {
    float: right;
  }
}

.wizard-links {
  margin-bottom: 20px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;

    li {
      display: inline-block;
      margin-bottom: 7px;
      margin-right: 7px;
    }
  }

  .sortable-placeholder {
    height: 30px;
    width: 100px;
    display: inline-block;
    vertical-align: top;
    background-color: $primary-low;
    margin-right: 10px;
    margin-left: 3px;
  }
}

.wizard-column-contents {
  position: relative;
}

.wizard-custom-step {
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px;
  background-color: dark-light-diff($primary, $secondary, 96%, -65%);
}

.wizard-dropdown-choices {
  padding: 15px 15px 0 15px;
  margin-bottom: 20px;
  background-color: $secondary;
}

.setting .custom-input {
  display: inline-block;
}

.wizard-submissions {
  padding: 0 20px;
  display: inline-block;
  overflow: scroll;
}

.wizard-field-composer textarea {
  width: 100%;
  min-height: 150px;
}
