.wizards-nav-button {
  @extend .nav-pills;
  float: left;
}

.wizard-list {
  float: left;
  width: 250px;
}

.new-wizard {
  margin-top: 15px;
}

.wizard-header {
  font-size: 1.4em;
  margin-bottom: 15px;

  &.medium {
    font-size: 1.2em;
  }

  &.small {
    font-size: 1em;
    margin-bottom: 5px;
  }

  &.underline {
    text-decoration: underline;
  }
}

.content-list + .content {
  overflow: hidden;
}

.admin-wizard.settings {
  margin-left: 30px;
  margin-right: 30px;

  .setting {
    display: inline-block;
    vertical-align: top;
    width: 49%;

    .setting-label {
      width: 20%;
    }

    .setting-value {
      label {
        font-size: 0.85em;
      }

      span {
        font-size: 0.929em;
      }

      button {
        margin-top: 5px;
        display: block;
      }

      .d-editor {
        width: 100%;

        .d-editor-input {
          height: 100px;
        }

        button {
          margin: 0;
        }
      }
    }

    &.full {
      width: 100%;

      .setting-label {
        width: 10%;
      }

      .setting-value {
        width: initial;
        overflow: hidden;
        float: none;
      }
    }

    label {
      margin: 5px 0;
    }

    .setting-gutter {
      margin-top: 5px;
    }
  }

  .select-box-kit-header {
    height: initial;
  }

  .buttons .error {
    color: $danger;

    .fa {
      margin-right: 5px;
    }
  }

  .buttons .remove {
    float: right;
  }

  .custom-category {
    margin-top: 5px;
    padding: 5px;
  }
}

.wizard-links {
  margin-bottom: 20px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;

    li {
      display: inline-block;
      margin-bottom: 7px;
      margin-right: 7px;
    }
  }

  .sortable-placeholder {
    height: 30px;
    width: 100px;
    display: inline-block;
    vertical-align: top;
    background-color: $primary-low;
    margin-right: 10px;
    margin-left: 3px;
  }
}

.wizard-column-contents {
  position: relative;
}

.wizard-custom-step {
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px;
  background-color: dark-light-diff($primary, $secondary, 96%, -65%);
}

.wizard-dropdown-choices {
  padding: 15px;
  margin-bottom: 20px;
  background-color: $secondary;

  .wizard-header:not(.underline) {
    margin-top: 15px;
  }
}

.custom-input {
  display: flex;
  margin: 5px 0;

  .d-icon {
    margin: 0 auto;
    text-align: center;
  }

  input[disabled] {
    background-color: $primary-low;
    border-color: #ddd;
  }

  .select-kit {
    width: 232px !important;
  }

  .remove {
    margin: 0 auto;
    align-self: flex-start;
  }
}

.setting .add-custom-input {
  margin-top: 5px;
}

.admin-contents .wizard-submissions {
  padding: 0 20px;
  display: inline-block;
  overflow: scroll;

  table {
    margin-top: 0;
  }
}

.wizard-field-composer textarea {
  width: 100%;
  min-height: 150px;
}

.next-session-time-modal {
  text-align: center;

  .date-time-card {
    width: 270px;
    padding: 10px 20px;
    text-align: left;
  }

  .modal-date-time-set{
    padding-top: 3px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: row;

    .modal-date-area{
      order: 1;
    }

    .modal-time-area{
      order: 2;
      margin-left: 10px;

      .modal-time{
        width: 127px;
      }
    }
  }

  .ui-timepicker-input {
    width: 119px;
    text-align: center;
  }

  .date-picker{
     width: 121px;
  }

  .pika-single {
    position: relative !important;

    .pika-lendar {
      border: 1px solid #eee;
      padding: 14px;
      margin: 0;
      float: none;
      width: auto;
    }
  }
}

.post-builder-editor {
  min-height: 220px;
}

.text-divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 5px 0;

  > span {
    position: relative;
    display: inline-block;
  }

  > span:before,
  > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: $tertiary;
  }

  > span:before {
    right: 100%;
    margin-right: 15px;
  }

  > span:after {
    left: 100%;
    margin-left: 15px;
  }
}

.wizard-step-contents{
    height: unset !important;    
}
