<label>
  {{#if currentState}}
    {{#if showValidationCategories}}
      {{html-safe (i18n currentStateLabel catLinks=catLinks)}}
    {{else}}
      {{i18n currentStateLabel}}
    {{/if}}
  {{/if}}
</label>

{{#if showSimilarTopics}}
  {{wizard-similar-topics topics=similarTopics}}
{{/if}}
