{{#if similarTopics}}
  <h3>{{i18n 'realtime_validations.similar_topics_heading'}}</h3>
  <div class="wizard-similar-topics">
  {{#each similarTopics as |similarTopic|}}
    {{wizard-similar-topic topic=similarTopic}}
  {{/each}}
  </div>
{{/if}}

