{{wizard-composer-editor
  field=field
  composer=composer
  groupsMentioned=(action "groupsMentioned")
  cannotSeeMention=(action "cannotSeeMention")
  importQuote=(action "importQuote")
  togglePreview=(action "togglePreview")
  afterRefresh=(action "afterRefresh")}}

<button class='wizard-btn toggle-preview' {{action 'togglePreview'}}>
  <span class="d-button-label">{{wizard-i18n togglePreviewLabel}}</span>
</button>