{{#if showTopics}}
  <ul>
    {{#each topics as |topic|}}
      <li>{{wizard-similar-topic topic=topic}}</li>
    {{/each}}
  </ul>
{{else}}
  <a role="button" class="show-topics" {{action "toggleShowTopics"}}>
    {{wizard-i18n "realtime_validations.similar_topics.show"}}
  </a>
{{/if}}
