<div>{{text}}</div>
<div class="no-access-gutter">
  <button class='wizard-btn primary return-to-site' {{action 'skip'}}>
    {{wizard-i18n 'wizard.return_to_site' siteName=siteName}}
    {{d-icon "sign-out"}}
  </button>
</div>
