{{wizard-editor showPreview=showPreview value=field.value placeholder=field.placeholder}}
<button class='wizard-btn primary' {{action 'togglePreview'}}>
  <span class="d-button-label">{{i18n togglePreviewLabel}}</span>
</button>