{{input
  type=inputType
  class="date-picker"
  placeholder=placeholder
  value=(readonly value)
  input=(action "onChangeDate")
  tabindex=tabindex
  autocomplete="off"
}}

<div class="picker-container"></div>
