<div class="step-message {{stepMessage.state}}">
  {{stepMessage.text}}
</div>
{{wizard-step step=step
              wizard=wizard
              goNext="goNext"
              goBack=(action "goBack")
              finished="finished"
              showMessage="showMessage"}}
