<div class="select-kit-header-wrapper">

  {{component selectKit.options.selectedNameComponent
    tabindex=tabindex
    item=selectedContent
    selectKit=selectKit
    shouldDisplayClearableButton=shouldDisplayClearableButton
  }}

  {{#if selectedContent.subscriptionType}}
    <span class="subscription-label">
      {{selectedContent.subscriptionType}}
    </span>
  {{/if}}

  {{d-icon caretIcon class="caret-icon"}}
</div>
