body.custom-wizard {
  span.mentionable-item {
    font-weight: bold;
  }

  a.mentionable-item span {
    background-color: $primary-low;
    padding: 3px;
    border-radius: 3px;
    color: $primary;
  }

  .ac-mentionable-item ul li a {
    display: flex;
    align-items: center;
  }

  .ac-mentionable-item-name {
    padding-left: 0.5em;
  }

  .ac-mentionable-item-image {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      object-fit: contain;
    }
  }
}
