.location-form-instructions {
  color: #919191;
  margin: 5px 0;
  font-size: 80%;
  line-height: 1.4em;

  a {
    text-decoration: underline;
  }
}

.location-form {
  display: flex;
  overflow: visible;

  .title {
    font-weight: 700;
  }

  .address {
    padding-right: 20px;
  }

  .coordinates {
    .control-group {
      display: block;

      .controls {
        display: flex;
        width: 100%;

        input {
          width: 100px;
        }
      }

      .icon {
        margin-left: 10px;
        display: inline-block;
      }
    }

    .icon img {
      max-width: 30px;
    }
  }

  .address + .coordinates {
    border-left: 1px solid var(--primary-low);
    padding-left: 20px;
  }
  
  .control-group {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 10px;
    width: auto;

    .instructions {
      @extend .location-form-instructions;
    }
  }

  .location-search {
    display: block;
    margin: 15px 0;
  }

  .geo-map {
    height: 400px;
  }
}

input.input-location, div.input-location {
  max-height: 150px;
  background-color: var(--secondary);
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
}

.input-location .select2-choice {
  padding: 2px 5px;
}

.input-location.input-small {
  width: 100px;
}

.location-selector-container {
  position: relative;

  .ac-wrap {
    box-sizing: border-box;

    .ac-loading {
      position: absolute;
      top: 7px;
      right: 5px;
    }

    .item {
      line-height: 1.6;
    }

    .autocomplete {
      width: inherit;
      left: 0 !important;
      width: 100%;
      top: 30px !important;
      box-sizing: border-box;

      li, .no-results {
        padding: 10px;
      }

      ul > label {
        @extend .location-form-instructions;
        padding: 0 5px;
      }
    }
  }
}

.location-form-result {
  cursor: pointer;
  background-color: var(--secondary);
  display: flex;

  &:hover, &.selected {
    background-color: var(--tertiary);
    color: white;

    label {
      color: white;
    }
  }

  label {
    flex: 1 1 auto;
    margin-bottom: 0;
    cursor: pointer;
  }

  i {
    margin-right: 5px;
  }
}

.location-results {
  max-width: 550px;
  position: relative;

  .spinner {
    position: absolute;
    right: 50%;
    top: 50%;
  }

  ul {
    background-color: var(--primary-very-low);
    border: 1px solid #e9e9e9;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 95px;
    overflow: scroll;
  }

  li {
    padding: 6px 12px;
  }

  .no-results {
    padding: 15px;
  }

  .default {
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    text-align: center;
    color: #919191;
  }
}