.custom-wizard {
  .wizard-step-form {
    .wizard-btn {
      margin: 0;
    }
  }

  .wizard-step-description {
    .image-container {
      margin: 20px 0;
      padding: 0;
    }

    img.large {
      width: 150px;
      padding: 10px;
    }

    img.small {
      width: 60px;
      height: 60px;
      padding: 10px;
    }
  }

  .wizard-step-banner img {
    max-height: 250px !important;
    max-width: 100%;
  }

  .control-group {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}
